aside button {
    Width: 200px;
    Height: 60px;
    background-color: #27AE60;
    border-radius: 8px;
    border: none;
}

aside p {
    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}

aside {
    display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        height: auto;

}


img {
    width: 400px;
    min-width: 50%;
    margin-top: 89px;
    margin-right: 53px;
    background-color: #FFFFFF;
    height: 466px;
}


.organiza{
    display: flex;
    min-height: 120px;
    align-items: center;
    justify-content: center;
    max-width: 720px;
    flex-wrap: wrap;
    background-color: red;
    margin: auto;
    
}
.teclado{
    margin-top: 12px;
    margin-left: 12px;
    width: 40px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #39739D;
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;

}


.inicio{
    background-color: blue;

}

.forca{
    background-color: red;
    width: 400px;
}