aside button {
    Width: 200px;
    Height: 60px;
    background-color: #27AE60;
    border-radius: 8px;
    border: none;
    margin-right: 53px;
}

aside h1 {
    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    
}

aside p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 20px;
}

aside {
    display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        height: auto;
        margin-top: 89px;
        margin-left: 200px;
       

}


img {
    width: 400px;
    margin-right: 53px;
    height: 466px;
    margin: auto;
}


.organiza{
    display: flex;
    min-height: 120px;
    align-items: center;
    justify-content: center;
    max-width: 720px;
    flex-wrap: wrap;
    background-color: red;
    margin: auto;
    margin-top: 70px;
    
}
.teclado{
    margin-top: 12px;
    margin-left: 12px;
    width: 40px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #39739D;
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;

}


.inicio{
    max-width: 1100px;

    display: flex;
    margin: auto;

}

.forca{
    margin-top: 59px;
    width: 400px;
}

.desativado{
    color:#7a899e;
    background: #9FAAB5;
    border: 1px solid #7AA7C7;
}
.letrasEstilo{
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    margin: auto;
}